<DModalBody
  @id="theme-creator-edit-local-modal"
  @title="theme_creator.edit_local"
>
  <p>{{html-safe (i18n "theme_creator.edit_local_description")}}</p>

  <h3>{{i18n "theme_creator.edit_local_key"}}</h3>

  <ConditionalLoadingSpinner @condition={{loading}}>
    {{#if model.apiKey}}
      <pre>{{model.apiKey}}</pre>
    {{else}}
      <DButton
        @action={{action "showKey"}}
        @icon="eye"
        @label="theme_creator.show_key"
      />
    {{/if}}
  </ConditionalLoadingSpinner>

  <p>{{html-safe (i18n "theme_creator.revoke_instructions")}}</p>
</DModalBody>