{{#d-modal-body id="theme-creator-share-modal" title="theme_creator.share_theme"}}

  {{#if model.can_share}}

    {{#if model.is_shared}}
      <p>{{i18n "theme_creator.shared_at"}}</p>
      {{#if editingSlug}}
        <code>
          {{model.base_share_url}} {{text-field value=model.share_slug autofocus="true"}}
        </code>
        {{d-button action="finishedEditingSlug" class="btn-primary btn-small submit-edit" icon="check" disabled=saveDisabled}}
        {{d-button action="cancelEditingSlug" class="btn-small cancel-edit" icon="times"}}
      {{else}}
        <code>
          {{model.base_share_url}}{{model.share_slug}} <a {{action "startEditingSlug"}}>{{d-icon "pencil"}}</a>
        </code>
      {{/if}}
      <p>
        {{d-button action="stopSharing" icon="times-circle" class="btn-danger btn-large" label="theme_creator.stop_sharing"}}
      </p>

    {{else}}
      
      <p>{{i18n "theme_creator.share_instructions"}}</p>

      <code>
        {{model.base_share_url}} {{text-field value=model.share_slug autofocus="true"}}
      </code>

      <p>
        {{d-button action="share" icon="users" class="btn-primary btn-large" label="theme_creator.start_sharing" disabled=saveDisabled}}
      </p>

    {{/if}}

  {{else}}
    <div class="share_unavailable">
      <h1 class='large_theme_share_icon'>{{d-icon 'users'}}</h1>
      <p class='theme_share_unavailable'>
        {{{i18n 'theme_creator.share_unavailable'}}}
      </p>
    </div>
  {{/if}}

{{/d-modal-body}}
