{{#d-modal-body id="theme-creator-edit-local-modal" title="theme_creator.edit_local"}}
  <p>{{{i18n "theme_creator.edit_local_description"}}}</p>


  <h3>{{i18n "theme_creator.edit_local_key"}}</h3>
  {{#conditional-loading-spinner condition=loading}}
    {{#if model.apiKey}}
      <pre>
        {{model.apiKey}}
      </pre>
    {{else}}
      {{d-button action="showKey" icon="eye" label="theme_creator.show_key"}}
    {{/if}}
  {{/conditional-loading-spinner}}

  <p>{{{i18n "theme_creator.revoke_instructions"}}}</p>
{{/d-modal-body}}
