<div class="show-current-style">
  <h1>
    {{#if editingName}}
      {{text-field value=model.name autofocus="true"}}
      {{d-button action="finishedEditingName" class="btn-primary btn-small submit-edit" icon="check"}}
      {{d-button action="cancelEditingName" class="btn-small cancel-edit" icon="times"}}
    {{else}}
      {{model.name}} <a {{action "startEditingName"}}>{{d-icon "pencil"}}</a>
    {{/if}}
  </h1>

  <div class="theme-content">

    {{#if model.can_share}}
    <h3>{{i18n "theme-creator.sharing"}}</h3>
      {{inline-edit-checkbox action="applyIsShared" labelKey="theme-creator.is_shared" checked=model.is_shared}}

      {{#if model.is_shared}}
        {{text-field value=previewUrl}}
      {{/if}}

    {{/if}}

    <h3>{{i18n "theme-creator.color_scheme"}}</h3>

      <p>
      {{combo-box content=colorSchemes
                  filterable=true
                  value=colorSchemeId
                  icon="paint-brush"}}
       {{#if colorSchemeChanged}}
          {{d-button action="changeScheme" class="btn-primary btn-small submit-edit" icon="check"}}
          {{d-button action="cancelChangeScheme" class="btn-small cancel-edit" icon="times"}}
       {{else}}
       
        {{#link-to 'user.themes.colors' model.id model.color_scheme_id class="btn" disabled=colorSchemeEditDisabled}}
          {{d-icon 'pencil'}}
          {{i18n 'theme-creator.edit_color_scheme'}}
        {{/link-to}}

        {{d-button action="deleteColorScheme" label="theme-creator.delete_color_scheme" icon="trash" class="btn-danger" disabled=colorSchemeEditDisabled}}
      {{/if}}
      </p>
      <p>
      {{d-button action="createColorScheme" label=(if creatingColorScheme 'theme-creator.adding_color_scheme' 'theme-creator.add_color_scheme') 
                icon="plus" class="btn" disabled=creatingColorScheme}}
      </p>
        
    <h3>{{i18n "theme-creator.css_html"}}</h3>

    {{#if editedDescriptions}}
      <p>{{i18n "theme-creator.edited_sections"}}</p>
      <ul>
        {{#each editedDescriptions as |desc|}}
          <li>{{desc}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>
        {{i18n "theme-creator.no_edited_sections"}}
      </p>
    {{/if}}

    {{#link-to 'user.themes.edit' model.id 'common' 'scss' class="btn"}}
      {{i18n 'theme-creator.edit_css_html'}}
    {{/link-to}}

  </div>

  <hr/>

  <a href='{{previewUrl}}' title="{{i18n 'theme-creator.explain_preview'}}" target='_blank' class='btn'>{{d-icon 'desktop'}}{{i18n 'theme-creator.preview'}}</a>

  {{d-button action="destroy" label="theme-creator.delete" icon="trash" class="btn-danger"}}
</div>
