<div class="show-current-style">
  <h1>
    {{#if editingName}}
      {{text-field value=model.name autofocus="true"}}
      {{d-button action="finishedEditingName" class="btn-primary btn-small submit-edit" icon="check"}}
      {{d-button action="cancelEditingName" class="btn-small cancel-edit" icon="times"}}
    {{else}}
      {{model.name}} <a {{action "startEditingName"}}>{{d-icon "pencil"}}</a>
    {{/if}}
  </h1>

  <div class="theme-content">

    <h3>{{i18n "theme-creator.color_scheme"}}</h3>
      {{#if canEditColorScheme}}
        <p>
        {{#link-to 'user.themes.colors' model.id model.color_scheme_id class="btn"}}
          {{i18n 'theme-creator.edit_color_scheme'}}
          {{d-icon 'pencil'}}
        {{/link-to}}
        {{!-- {{d-button action="deleteColorScheme" label="theme-creator.delete_color_scheme" icon="trash" class="btn-danger"}} --}}
        </p>
      {{else}}
        <p>
          {{#if model.color_scheme}}
            {{model.color_scheme.name}}
          {{else}}
            {{i18n 'theme-creator.default_color_scheme'}}
          {{/if}}
          {{i18n 'theme-creator.not_editable'}}
        </p>
        <p>
        {{d-button action="createColorScheme" label="theme-creator.create_color_scheme" icon="plus" class="btn"}}
        </p>


      {{/if}}

    <h3>{{i18n "theme-creator.css_html"}}</h3>

    {{#link-to 'user.themes.edit' model.id 'common' 'scss' class="btn"}}
      {{i18n 'theme-creator.edit_css_html'}}
    {{/link-to}}

  </div>

  <hr/>

  <a href='{{previewUrl}}' title="{{i18n 'theme-creator.explain_preview'}}" target='_blank' class='btn'>{{d-icon 'desktop'}}{{i18n 'theme-creator.preview'}}</a>

  {{d-button action="destroy" label="theme-creator.delete" icon="trash" class="btn-danger"}}
</div>
