
<h2>{{i18n 'theme_creator.edit_css_html'}} {{#link-to 'user.themes.show' model.id replace=true}}{{model.name}}{{/link-to}}</h2>

<ul class='nav nav-pills target'>
  {{#if showCommon}}
    <li>
      {{#link-to 'user.themes.edit' model.id 'common' fieldName replace=true title=field.title}}
        {{i18n 'theme_creator.target.common'}}
      {{/link-to}}
    </li>
  {{/if}}
  {{#if showDesktop}}
    <li>
      {{#link-to 'user.themes.edit' model.id 'desktop' fieldName replace=true}}
        {{i18n 'theme_creator.target.desktop'}}
        {{d-icon 'desktop'}}
      {{/link-to}}
    </li>
  {{/if}}
  {{#if showMobile}}
    <li class='mobile'>
      {{#link-to 'user.themes.edit' model.id 'mobile' fieldName replace=true}}
        {{i18n 'theme_creator.target.mobile'}}
        {{d-icon 'mobile'}}
      {{/link-to}}
    </li>
  {{/if}}
  {{#if showSettings}}
    <li class='theme-settings'>
      {{#link-to 'user.themes.edit' model.id 'settings' fieldName replace=true}}
        {{i18n 'theme_creator.target.settings'}}
        {{d-icon 'cog'}}
      {{/link-to}}
    </li>
  {{/if}}
</ul>
<div class='show-overidden'>
  <label>
    {{input type="checkbox" checked=onlyOverridden}}
    {{i18n 'theme_creator.show_overridden'}}
  </label>
</div>

<ul class='nav nav-pills fields'>
  {{#each fields as |field|}}
    <li>
      {{#link-to 'user.themes.edit' model.id currentTargetName field.name replace=true title=field.title}}
        {{#if field.icon}}{{d-icon field.icon}} {{/if}}
        {{i18n field.key}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{#if error}}
  <pre class='field-error'>{{error}}</pre>
{{/if}}

{{ace-editor content=activeSection editorId=editorId mode=activeSectionMode autofocus="true"}}

{{#d-button action="save" disabled=saveDisabled class='btn-primary'}}
  {{saveButtonText}}
{{/d-button}}
<a href='{{previewUrl}}' title="{{i18n 'theme_creator.explain_preview'}}" target='_blank' class='btn'>{{d-icon 'desktop'}}{{i18n 'theme_creator.preview'}}</a>
