<div class="theme-content">
  <h2>
    <TextField @value={{this.model.name}} @autofocus="true" />
  </h2>

  <h4>
    ({{i18n "theme_creator.color_scheme_belongs_to"}}
    <LinkTo
      @route="user.themes.show"
      @model={{this.model.theme_id}}
      @replace={{true}}
    >
      {{this.model.theme_name}}
    </LinkTo>)
  </h4>

  <ColorSchemeEditor @colors={{this.model.colors}} />

  <DButton
    @action={{action "save"}}
    @disabled={{this.isSaving}}
    class="btn-primary"
  >
    {{this.saveButtonText}}
  </DButton>

  {{#unless this.hidePreview}}
    <a
      href={{this.previewUrl}}
      title={{i18n "theme_creator.explain_preview"}}
      class="btn"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{d-icon "desktop"}}
      {{i18n "theme_creator.preview"}}
    </a>
  {{/unless}}
</div>