<div class="theme-content">
  <h2>
    {{text-field value=model.name autofocus="true"}}
  </h2>
  <h4>({{i18n 'theme_creator.color_scheme_belongs_to'}} {{#link-to 'user.themes.show' model.theme_id replace=true}}{{model.theme_name}}{{/link-to}})</h4>

  {{color-scheme-editor colors=model.colors}}

  {{#d-button action="save" disabled=isSaving class='btn-primary'}}
    {{saveButtonText}}
  {{/d-button}}

  {{#unless hidePreview}}
    <a href='{{previewUrl}}' title="{{i18n 'theme_creator.explain_preview'}}" target='_blank' class='btn'>{{d-icon 'desktop'}}{{i18n 'theme_creator.preview'}}</a>
  {{/unless}}

</div>
