<span class="label">{{d-icon this.icon}} {{i18n this.label}}:</span>

{{#if this.editing}}
  <TextField @value={{this.value}} @autofocus="true" />
  <DButton
    @action={{action "finishedEditing"}}
    class="btn-primary btn-small submit-edit"
    @icon="check"
  />
  <DButton
    @action={{action "cancelEditing"}}
    class="btn-small cancel-edit"
    @icon="xmark"
  />
{{else}}
  {{#if this.value}}
    {{this.value}}
  {{else}}
    {{i18n "theme_creator.missing_metadata"}}
  {{/if}}

  <a href {{action "startEditing"}}>{{d-icon "pencil"}}</a>
{{/if}}