<span class="label">{{d-icon icon}} {{i18n label}}:</span>

{{#if editing}}
  <TextField @value={{value}} @autofocus="true" />
  <DButton
    @action={{action "finishedEditing"}}
    @class="btn-primary btn-small submit-edit"
    @icon="check"
  />
  <DButton
    @action={{action "cancelEditing"}}
    @class="btn-small cancel-edit"
    @icon="times"
  />
{{else}}
  {{#if value}}
    {{value}}
  {{else}}
    {{i18n "theme_creator.missing_metadata"}}
  {{/if}}

  <a href {{action "startEditing"}}>{{d-icon "pencil-alt"}}</a>
{{/if}}