<span class="label">{{d-icon icon}} {{i18n label}}:</span>

{{#if editing}}
  {{text-field value=value autofocus="true"}}
  {{d-button
    action=(action "finishedEditing")
    class="btn-primary btn-small submit-edit"
    icon="check"
  }}
  {{d-button
    action=(action "cancelEditing")
    class="btn-small cancel-edit"
    icon="times"
  }}
{{else}}
  {{#if value}}
    {{value}}
  {{else}}
    {{i18n "theme_creator.missing_metadata"}}
  {{/if}}

  <a href {{action "startEditing"}}>{{d-icon "pencil"}}</a>
{{/if}}
