<div class="theme-creator-view-shared-theme">
  <h1>{{i18n "theme_creator.view_shared_theme"}}</h1>
  <h2>{{@model.name}}</h2>

  <p>
    {{avatar
      @model.user
      avatarTemplatePath="avatar_template"
      title=user.username
      imageSize="extra_large"
    }}
  </p>

  <h3>
    by
    {{#if @model.user.name}}
      {{@model.user.name}}
    {{else}}
      {{@model.user.username}}
    {{/if}}
  </h3>

  <p>{{i18n "theme_creator.view_shared_theme_education"}}</p>

  <p>
    <DButton
      class="btn-large"
      @action={{this.cancel}}
      @title="theme_creator.cancel"
      @label="theme_creator.cancel"
    />

    <DButton
      class="btn-primary btn-large"
      @action={{this.view}}
      @title="theme_creator.view_theme"
      @label="theme_creator.view_theme"
    />
  </p>

  <form id="view-theme-form" method="post" action={{postURL}}>
    <Input
      @type="hidden"
      name="authenticity_token"
      id="authenticity_token"
      @value={{session.csrfToken}}
    />
  </form>
</div>