<div class="theme-creator-view-shared-theme">
  <h1>{{i18n "theme_creator.view_shared_theme"}}</h1>
  <h2>{{@model.name}}</h2>

  <p>
    {{avatar
      @model.user
      avatarTemplatePath="avatar_template"
      title=this.user.username
      imageSize="extra_large"
    }}
  </p>

  <h3>
    by
    {{or @model.user.name @model.user.username}}

  </h3>

  <p>{{i18n "theme_creator.view_shared_theme_education"}}</p>

  <p>
    <DButton class="btn-large" @action={{this.cancel}} @label="cancel" />

    <DButton
      class="btn-primary btn-large"
      @action={{this.view}}
      @label="theme_creator.view_theme"
    />
  </p>

  <form id="view-theme-form" method="post" action={{this.postURL}}>
    <Input
      @type="hidden"
      name="authenticity_token"
      id="authenticity_token"
      @value={{this.session.csrfToken}}
    />
  </form>
</div>