<DModal
  id="theme-creator-share-modal"
  @title={{i18n "theme_creator.share_theme"}}
  @closeModal={{@closeModal}}
>
  {{#if @model.can_share}}
    {{#if @model.is_shared}}
      <p>{{i18n "theme_creator.shared_at"}}</p>

      {{#if this.editingSlug}}
        <code>
          {{@model.base_share_url}}
          <TextField @value={{@model.share_slug}} @autofocus="true" />
        </code>

        <DButton
          @action={{action "finishedEditingSlug"}}
          class="btn-primary btn-small submit-edit"
          @icon="check"
          @disabled={{this.saveDisabled}}
        />
        <DButton
          @action={{action "cancelEditingSlug"}}
          class="btn-small cancel-edit"
          @icon="times"
        />

        <p>{{i18n "theme_creator.share_destination"}}</p>

        <code>
          {{@model.base_destination_url}}
          <TextField @value={{@model.share_destination}} @autofocus="true" />
        </code>

        <DButton
          @action={{action "finishedEditingSlug"}}
          class="btn-primary btn-small submit-edit"
          @icon="check"
          @disabled={{this.saveDisabled}}
        />
        <DButton
          @action={{action "cancelEditingSlug"}}
          class="btn-small cancel-edit"
          @icon="times"
        />
      {{else}}
        <code>
          {{@model.base_share_url}}{{@model.share_slug}}
          <a href {{action "startEditingSlug"}}>{{d-icon "pencil-alt"}}</a>
        </code>

        <p>{{i18n "theme_creator.share_destination"}}</p>

        <code>
          {{@model.base_destination_url}}
          {{@model.share_destination}}
          <a href {{action "startEditingSlug"}}>{{d-icon "pencil-alt"}}</a>
        </code>
      {{/if}}

      <p>
        <DButton
          @action={{action "stopSharing"}}
          @icon="times-circle"
          class="btn-danger btn-large"
          @label="theme_creator.stop_sharing"
        />
      </p>
    {{else}}
      <p>{{i18n "theme_creator.share_instructions"}}</p>

      <code>
        {{@model.base_share_url}}
        <TextField @value={{@model.share_slug}} @autofocus="true" />
      </code>

      <p>{{i18n "theme_creator.share_destination_instructions"}}</p>

      <code>
        {{@model.base_destination_url}}
        <TextField @value={{@model.share_destination}} @placeholder="/" />
      </code>

      <p>
        <DButton
          @action={{action "share"}}
          @icon="users"
          class="btn-primary btn-large"
          @label="theme_creator.start_sharing"
          @disabled={{this.saveDisabled}}
        />
      </p>
    {{/if}}
  {{else}}
    <div class="share_unavailable">
      <h1 class="large_theme_share_icon">{{d-icon "users"}}</h1>

      <p class="theme_share_unavailable">
        {{html-safe (i18n "theme_creator.share_unavailable")}}
      </p>
    </div>
  {{/if}}
</DModal>