<DModal
  id="theme-creator-edit-local-modal"
  @title={{i18n "theme_creator.edit_local"}}
  @closeModal={{@closeModal}}
>
  <p>{{html-safe (i18n "theme_creator.edit_local_description")}}</p>

  <h3>{{i18n "theme_creator.edit_local_key"}}</h3>

  <ConditionalLoadingSpinner @condition={{this.loading}}>
    {{#if this.key}}
      <pre>{{this.key}}</pre>
    {{else}}
      <DButton
        @action={{this.showKey}}
        @icon="eye"
        @label="theme_creator.show_key"
      />
    {{/if}}
  </ConditionalLoadingSpinner>

  <p>{{html-safe (i18n "theme_creator.revoke_instructions")}}</p>
</DModal>